// primary colors
$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

// secondary colors
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// screen sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//error
$field-error: #D22D2D;