@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Avenir Next Regular";
  font-size: 24px;
}

h1 {
  font-size: 2.3rem;
  color: #323232;
  font-family: "Avenir Next Demi";
}

h2 {
  font-size: 1.04rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25em;
  text-align: center;
}
.header__nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100vw;
}
.header__item {
  width: 50%;
  color: #E1E1E1;
  padding: 1em;
  border-bottom: 3px solid transparent;
}
.header__item:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}
.header__item a:active {
  font-family: "Avenir Next Demi";
}
.header__logo {
  color: #FFFFFF;
  font-family: "Avenir Next Regular";
}
.header__logo__container {
  width: 100vw;
  text-align: center;
}

.hero {
  position: relative;
  height: 25vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-size: cover;
}
.hero__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 1rem;
}
.hero__img img {
  width: 100vw;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 0 1.5rem;
}
.about__title {
  padding: 1.25rem 0 1rem 0;
}
.about__image img {
  height: 16rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
.about__quote {
  color: #323232;
  font-family: "Avenir Next Demi";
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.65em;
}
.about__band__name {
  padding: 1.25rem 0 1.25rem 0;
}
.about__paragraph {
  margin-bottom: 0.67em;
}

.gallery {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 1em 1.25em;
}
.gallery__title {
  padding: 1.25rem 0 1rem 0;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.gallery__img:last-child {
  margin-bottom: 0;
}

.footer {
  height: 75vh;
  background: #323232;
  color: #FFFFFF;
  padding: 0 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.footer__title {
  color: #FFFFFF;
  padding: 1.25rem 0 1rem 0;
}
.footer-logo {
  color: #FFFFFF;
  font-family: "Avenir Next Regular";
  margin-bottom: 1.2rem;
}
.footer__icons {
  display: flex;
  min-width: 30%;
  width: 40%;
  padding: 1.25rem 0 1rem 0;
  justify-content: space-between;
}
.footer__icons img {
  height: 2rem;
}
.footer-cpyrght {
  font-size: 1.1rem;
}

.company {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.company__name {
  font-family: "Avenir Next Demi";
}/*# sourceMappingURL=bio.css.map */