@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Avenir Next";
  font-weight: normal;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-size: 1.8rem;
  color: #323232;
  font-family: "Avenir Next";
  font-weight: 600;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4.28rem;
    line-height: 4.85rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 2.46rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.57rem;
    line-height: 3.14rem;
  }
}

h3 {
  font-size: 1.0715rem;
  font-family: "Avenir Next";
  font-weight: 600;
  line-height: 1.7rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.71rem;
    line-height: 2.28rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.38rem;
}
@media (min-width: 768px) {
  p {
    font: 1rem;
    line-height: 1.57rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.header {
  background-color: #323232;
  padding: 0 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 2.57rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 5.7rem;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 8rem;
  }
}
.header__nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100vw;
}
@media (min-width: 768px) {
  .header__nav__list {
    width: 35vw;
  }
}
.header__item {
  width: 50%;
  color: #E1E1E1;
  padding-bottom: 1rem;
  border-bottom: 3px solid transparent;
  transition: border-color 0.15s;
}
@media (min-width: 768px) {
  .header__item {
    padding: 1.5rem;
    border: none;
    -webkit-text-decoration: 3px underline transparent;
            text-decoration: 3px underline transparent;
    text-underline-offset: 1.9rem;
    transition: text-decoration-color 0.15s;
  }
}
.header__item:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}
@media (min-width: 768px) {
  .header__item:hover {
    text-decoration-color: white;
  }
}
.header__item a:active {
  font-family: "Avenir Next";
  font-weight: 600;
}
.header__logo {
  color: #FFFFFF;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 24px;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}
.header__logo__container {
  margin-right: 2rem;
  text-align: center;
}

.hero {
  position: relative;
  height: 25vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    height: 35vh;
    padding: 0 1.25rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 0 4.7rem;
    min-height: 78vh;
  }
}
.hero__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 1rem;
}
.hero__img img {
  width: 100vw;
  height: 25vh;
  max-height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem 1.25rem 1.5rem;
}
.about__title {
  color: #323232;
  padding: 1.25rem 0 1rem 0;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .about__title {
    padding: 3rem 2.57rem 2.57rem 0;
  }
}
@media (min-width: 1280px) {
  .about__title {
    padding: 3rem 0rem 2.57rem 6rem;
  }
}
.about__image img {
  max-height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .about__image img {
    max-height: 35rem;
  }
}
@media (min-width: 768px) {
  .about__image {
    padding: 0 3.5rem;
    max-height: 35rem;
    margin-bottom: 8rem;
    min-width: 85%;
    max-width: 90%;
  }
}
@media (min-width: 1280px) {
  .about__image {
    padding: 0 8rem;
    max-height: 35rem;
    width: 70%;
  }
}
.about__quote {
  color: #323232;
  font-family: "Avenir Next";
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.65em;
}
@media (min-width: 768px) {
  .about__band {
    padding: 0 7rem;
  }
}
@media (min-width: 1280px) {
  .about__band {
    padding: 0 14rem;
  }
}
.about__band__name {
  color: #323232;
  padding: 1.25rem 0 1.25rem 0;
}
.about__band__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .about__band__paragraphs {
    flex-direction: row;
    gap: 1rem;
  }
}

.gallery {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 1.25em 1.25em;
}
@media (min-width: 768px) {
  .gallery {
    padding: 2.57rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 3rem 5.7rem;
  }
}
.gallery__title {
  color: #323232;
  padding: 0 0 1.25rem 0;
}
@media (min-width: 1280px) {
  .gallery__title {
    padding: 0 0 3rem 1rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .gallery__container {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) {
  .gallery__container {
    padding: 0 1rem;
  }
}
.gallery__img {
  filter: grayscale(1);
  transition: filter 0.2s;
}
.gallery__img:hover {
  filter: grayscale(0);
}
.gallery__img:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .gallery__img {
    width: calc(33% - 1.16rem);
  }
}

.footer {
  background: #323232;
  color: #FFFFFF;
  padding: 0 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .footer {
    padding: 1.5rem 2.57rem 3rem 2.57rem;
  }
  .footer p {
    line-height: 1.42rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 1rem 5.7rem;
  }
}
.footer__header {
  padding: 1rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__header {
    align-items: baseline;
  }
}
.footer__title {
  color: #FFFFFF;
  padding: 1.25rem 0 1rem 0;
  font-size: 2.25rem;
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .footer__title__icons {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer__title__icons {
    max-width: 45%;
  }
}
.footer-logo {
  color: #FFFFFF;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 24px;
}
.footer-logo--top {
  visibility: hidden;
}
@media (min-width: 768px) {
  .footer-logo--top {
    visibility: visible;
  }
}
.footer-logo--bottom {
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .footer-logo--bottom {
    display: none;
  }
}
.footer__icons {
  display: flex;
  width: 10rem;
  padding: 1.25rem 0 0rem 0;
  justify-content: space-between;
}
.footer__icons img {
  height: 2rem;
}
@media (min-width: 768px) {
  .footer__icons img {
    height: 1.5rem;
  }
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
.company__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .company__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .company__container {
    max-width: 80%;
    justify-content: space-between;
  }
}
.company__name {
  font-family: "Avenir Next";
  font-weight: 600;
}
.company-cpyrght {
  font-size: 0.875em;
}/*# sourceMappingURL=bio.css.map */