@use "./partials/variables" as *;
@use "./partials/globals" as *;
@use "./partials/mixins" as *;




.form-section {
  padding: 1rem 1.5rem;

  @include tablet {
    padding-top: 3rem;
  }

  @include desktop {
    padding: 3rem 6.7rem;
  }
}

.invalid {
  border: 1px solid #d22d2d !important;
}

.conversation {
  padding: 1.25em;

  &__title {
    padding: 0 0 1.25rem 0;
    color: $bandsite-black;
    font-size: 2.25rem;
  }
}

.form {
  width: 85%;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  input[type="text"],
  textarea {
    width: 100%;
    border: none;
    border: 1px solid $mercury;
    border-radius: 4px;
    padding: 1rem;

    @include tablet {
      padding: 1rem;
    }
    &:focus {
      border-color: $bandsite-black;
      outline: none;
    }
  }

  label {
    display: inline-block;
    padding-bottom: 4px;
    color: $silver;
    font-weight: 600;
    font-size: 0.77rem;
  }

  input[type="text"] {
    height: 2.5714rem;

    @include tablet {
      height: 3.2rem;
    }
  }

  textarea {
    padding: 1rem;
    resize: none;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 0;
    width: 100%;

    @include tablet {
      padding: 2.5rem 2.5rem 0.25rem 2.5rem;
    }

    @include desktop {
      width: 43rem;
      max-width: 45rem;
      margin: 0 auto;
    }
    &__avatar {
      width: 2.5714rem;
      height: 2.5714rem;
      object-fit: cover;
      border-radius: 50%;
      object-position: 20% 50%;
      margin-top: 1.25rem;

      @include tablet {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }

  button {
    width: 33%;
    align-self: flex-end;
  }
}

.comments {
  padding: 0rem 1.5rem;

  hr {
    margin-bottom: 1rem;
  }

  @include tablet {
    padding: 0rem 4rem 2rem 4rem;
  }

  @include desktop {
    width: 46rem;
    margin: 0 auto;
  }

  &-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
  }
  &__usrAvatar {
    width: 2.5714rem;
    height: 2.5714rem;
    background: $mercury;
    border-radius: 50%;

    @include tablet {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &-item {
    width: 85%;
    &__details {
      display: flex;
      justify-content: space-between;
    }
    &__name {
      font-weight: 600;
      color: $bandsite-black;
      margin-bottom: 1rem;
    }
    &__date {
      color: $silver;
    }
  }
}

.hero {
  position: relative;
  height: 25vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url(../assets/images/hero-bio.jpg);
  background-size: cover;

  @include tablet {
    height: 35vh;
    padding: 0 1.25rem;
  }

  @include desktop {
    padding: 0 4.7rem;
    min-height: 78vh;
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 1rem;
  }
  &__img {
    img {
      width: 100vw;
      height: 25vh;
      max-height: 25vh;
      object-fit: cover;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem 1.25rem 1.5rem;
  &__title {
    color: $bandsite-black;
    padding: 1.25rem 0 1rem 0;
    align-self: flex-start;
    @include tablet {
      padding: 3rem 2.57rem 2.57rem 0;
    }

    @include desktop {
      padding: 3rem 0rem 2.57rem 6rem;
    }
  }

  &__image {
    img {
      max-height: 22rem;
      object-fit: cover;
      margin-bottom: 1rem;
      width: 100%;

      @include tablet {
        max-height: 35rem;
      }
    }

    @include tablet {
      padding: 0 3.5rem;
      max-height: 35rem;
      margin-bottom: 3rem;
      min-width: 85%;
      max-width: 90%;
    }

    @include desktop {
      margin-bottom: 8rem;
      max-height: 35rem;
      width: 80%;
    }
  }

  &__quote {
    color: $bandsite-black;
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.65em;
  }

  &__band {
    @include tablet {
      padding: 0 7rem;
      margin-top: 4rem;
    }

    @include desktop {
      padding: 1rem;
      width: 80%;
      margin-top: 1rem;
      margin: 0 auto;
    }
    &__name {
      color: $bandsite-black;
      padding: 1.25rem 0 1.25rem 0;
    }

    &__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include tablet {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}

.gallery {
  background: $alabaster;
  display: flex;
  flex-direction: column;
  padding: 1.25em 1.25em;

  @include tablet {
    padding: 2.57rem;
  }

  @include desktop {
    padding: 3rem 5.7rem;
  }
  &__title {
    color: $bandsite-black;
    padding: 0 0 1.25rem 0;

    @include desktop {
      padding: 0 0 3rem 1rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @include tablet {
      flex-flow: row wrap;
      justify-content: space-evenly;
    }

    @include desktop {
      padding: 0 1rem;
    }
  }

  &__img {
    filter: grayscale(1);
    transition: filter 0.2s;

    &:hover {
      filter: grayscale(0);
    }
    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      width: calc(33% - 1.16rem);
    }
  }
}
