@use "./partials/variables" as *;
@use "./partials/globals" as *;
@use "./partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: $bandsite-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25em;
  text-align: center;

  &__nav__list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100vw;
  }

  &__item {
    width: 50%;
    color: $mercury;
    padding: 1em;
    border-bottom: 3px solid transparent;

    &:hover {
      cursor: pointer;
      color: white;
      border-color: white;
    }

    a:active {
      font-family: "Avenir Next Demi";
    }
  }

  &__logo {
    color: $white;
    font-family: "Avenir Next Regular";

    &__container {
      width: 100vw;
      text-align: center;
    }
  }
}

.hero {
  position: relative;
  height: 25vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url(../assets/images/hero-bio.jpg);
  background-size: cover;
  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 1rem;
  }
  &__img {
    img {
      width: 100vw;
      height: 25vh;
      object-fit: cover;
    }
  }
}
.about {
  padding: 0 1.5rem;

  @include tablet {
  }

  &__title {
    padding: 1.25rem 0 1rem 0;
  }

  &__image {
    img {
      height: 16rem;
      width: 100%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }

  &__quote {
    color: $bandsite-black;
    font-family: "Avenir Next Demi";
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.65em;
  }
  &__band__name {
    padding: 1.25rem 0 1.25rem 0;
  }

  &__paragraph {
    margin-bottom: 0.67em;
  }
}

.gallery {
  background: $alabaster;
  display: flex;
  flex-direction: column;
  padding: 1em 1.25em;
  &__title {
    padding: 1.25rem 0 1rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__img {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer {
  height: 75vh;
  background: $bandsite-black;
  color: $white;
  padding: 0 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;

  &__title {
    color: $white;
    padding: 1.25rem 0 1rem 0;
  }

  &-logo {
    color: $white;
    font-family: "Avenir Next Regular";
    margin-bottom: 1.2rem;
  }

  &__icons {
    display: flex;
    min-width: 30%;
    width: 40%;
    padding: 1.25rem 0 1rem 0;
    justify-content: space-between;
    img {
      height: 2rem;
    }
  }

  &-cpyrght {
    font-size: 1.1rem;
  }
}

.company {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  &__name {
    font-family: "Avenir Next Demi";
  }
}
