@use "./partials/variables" as *;
@use "./partials/globals" as *;
@use "./partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.header {
  background-color: $bandsite-black;
  padding: 0 2.57rem;
  text-align: center;

  @include tablet {
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__nav__list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100vw;

    @include tablet {
      width: 35vw;
    }
  }

  &__item {
    width: 50%;
    color: $mercury;
    padding: 1em;
    border-bottom: 3px solid transparent;

    @include tablet {
      // height: 100%;
    }
    &:hover {
      cursor: pointer;
      color: white;
      border-color: white;
    }

    a:active {
      font-family: "Avenir Next";
      font-weight: 600;
    }
  }

  &__logo {
    color: $white;
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 24px;
    padding-top: 1rem;

    @include tablet {
      padding-top: 0;
    }

    &__container {
      // background: red;
      margin-right: 2rem;
      text-align: center;
    }
  }
}

.hero {
  position: relative;
  height: 25vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url(../assets/images/hero-bio.jpg);
  background-size: cover;

  @include tablet {
    height: 35vh;
    padding: 0 1.25rem;
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 1rem;
  }
  &__img {
    img {
      width: 100vw;
      height: 25vh;
      max-height: 25vh;
      object-fit: cover;
    }
  }
}
.about {
  padding: 0 1.5rem 1.25rem 1.5rem;
  &__title {
    color: $bandsite-black;
    padding: 1.25rem 0 1rem 0;

    @include tablet {
      padding: 3rem 2.57rem 2.57rem 0;
    }
  }

  &__image {
    img {
      max-height: 22rem;
      object-fit: cover;
      margin-bottom: 1rem;
    }

    @include tablet {
      padding: 0 3.5rem;
    }
  }

  &__quote {
    color: $bandsite-black;
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.65em;
  }

  &__band {
    @include tablet {
      padding: 0 3.5rem;
      // display: flex;
    }
    &__name {
      color: $bandsite-black;
      padding: 1.25rem 0 1.25rem 0;
    }

    &__paragraphs {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include tablet {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}

.gallery {
  background: $alabaster;
  display: flex;
  flex-direction: column;
  padding: 1.25em 1.25em;

  @include tablet {
    padding: 2.57rem;
  }
  &__title {
    color: $bandsite-black;
    padding: 0 0 1.25rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @include tablet {
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
  }

  &__img {
    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      width: calc(33% - 1.16rem);
    }
  }
}

.footer {
  // height: 85vh;
  background: $bandsite-black;
  color: $white;
  padding: 0 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablet {
    p {
      line-height: 1.42rem;
    }

    padding: 0 2.57rem 3rem 2.57rem;
  }

  &__header {
    padding: 1rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @include tablet {
      align-items: baseline;
    }
  }

  &__title {
    color: $white;
    padding: 1.25rem 0 1rem 0;
  }

  &-logo {
    color: $white;
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 24px;

    &--top {
      visibility: hidden;
      @include tablet {
        visibility: visible;
      }
    }

    &--bottom {
      margin-bottom: 1.2rem;
      @include tablet {
        display: none;
      }
    }
  }

    

  &__icons {
    display: flex;
    width: 10rem;
    padding: 1.25rem 0 0rem 0;
    justify-content: space-between;
    img {
      height: 2rem;
    }
  }
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 0;
  &__container {
    // height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__name {
    font-family: "Avenir Next";
    font-weight: 600;
  }

  &-cpyrght {
    font-size: 0.875em;
  }
}
