@use "./partials/globals" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;


section {
    padding: 1rem 2rem;
}


.hero {
    position: relative;
    height: 40vh;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
    background-size: cover;

    &__text__container {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        color: white;
    }
}

.show {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // margin-bottom: 1.25rem;
    // border: 1px solid red;
    padding: 1.25rem;

    &:hover {
        background: $alabaster;   
    }

    &:active {
        background: $mercury;
    }
    &-info {
        &__label {
            color: $silver;
            font-size: 0.77rem;
        }
        &__detail {
            &--date {
                font-weight: 600;
                color: $bandsite-black;
            }
        }
    }

    &-container {
        margin-bottom: 1.25rem;
        padding: 0;
        &__title {
            padding: 1.25rem;
        }
    }
}

hr {
    border: 1px solid $mercury;

    @include tablet {
        
    }
}
/* 
    <div class="show">
        <div class="show-info">
            <p class="show-info__label">DATE</p>
            <p class="show-info__detail show-info__detail--date>date</p>
        </div>
        <div class="show-info">
            <p class="show-info__label">VENUE</p>
            <p class="show-info__detail">venue</p>
        </div>
        <div class="show-info">
            <p class="show-info__label">LOCATION</p>
            <p class="show-info__detail">location</p>
        </div>
        <button class="button">BUY TICKETS</button>
    </div>
*/

