@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

hr {
  border: 1px solid #E1E1E1;
}

.header {
  background-color: #323232;
  padding: 0 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 2.57rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 5.7rem;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2.5rem;
  }
}
.header__nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100vw;
}
@media (min-width: 768px) {
  .header__nav__list {
    width: 35vw;
  }
}
.header__item {
  width: 50%;
  color: #E1E1E1;
  padding-bottom: 1rem;
  border-bottom: 3px solid transparent;
  transition: border-color 0.15s;
}
.header__item--active {
  color: white;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 3px solid white;
}
@media (min-width: 768px) {
  .header__item--active {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
  }
}
@media (min-width: 768px) {
  .header__item {
    padding: 1.5rem;
    border: none;
    -webkit-text-decoration: 3px underline transparent;
            text-decoration: 3px underline transparent;
    text-underline-offset: 1.9rem;
    transition: text-decoration-color 0.15s;
  }
}
.header__item .header__item:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}
@media (min-width: 768px) {
  .header__item .header__item:hover {
    text-decoration-color: white;
  }
}
.header__item a:active {
  font-weight: 600;
}
.header__logo {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}
.header__logo__container {
  margin-right: 2rem;
  text-align: center;
}

html {
  font-weight: normal;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-size: 1.8rem;
  color: #323232;
  font-weight: 600;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4.28rem;
    line-height: 4.85rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.46rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.57rem;
    line-height: 3.14rem;
  }
}

h3 {
  font-size: 1.0715rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.71rem;
    line-height: 2.28rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.38rem;
}
@media (min-width: 768px) {
  p {
    font: 1rem;
    line-height: 1.57rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background: #323232;
  color: #FFFFFF;
  padding: 0 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .footer {
    padding: 1.5rem 2.57rem 3rem 2.57rem;
  }
  .footer p {
    line-height: 1.42rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 1rem 5.7rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    width: 75rem;
    max-width: 80rem;
    margin: 0 auto;
  }
}
.footer__header {
  padding: 1rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__header {
    align-items: baseline;
  }
}
.footer__title {
  color: #FFFFFF;
  padding: 1.25rem 0 1rem 0;
  font-size: 2rem;
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 2.75rem;
  }
}
@media (min-width: 768px) {
  .footer__title__icons {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer__title__icons {
    max-width: 45%;
  }
}
.footer-logo {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
}
.footer-logo--top {
  visibility: hidden;
}
@media (min-width: 768px) {
  .footer-logo--top {
    visibility: visible;
  }
}
.footer-logo--bottom {
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .footer-logo--bottom {
    display: none;
  }
}
.footer__icons {
  display: flex;
  width: 10rem;
  padding: 1.25rem 0 0rem 0;
  justify-content: space-between;
}
.footer__icons img {
  height: 2rem;
}
@media (min-width: 768px) {
  .footer__icons img {
    height: 1.5rem;
  }
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
.company__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .company__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .company__container {
    max-width: 80%;
    justify-content: space-between;
  }
}
.company__name {
  font-weight: 600;
}
.company-cpyrght {
  font-size: 0.875em;
}

button {
  padding: 1.25rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background: #323232;
  color: white;
}
button:hover {
  background: #000000;
  cursor: pointer;
}

::-moz-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

section {
  padding: 1rem 2rem;
}

.hero {
  height: 40vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
  background-size: cover;
}
@media (min-width: 1280px) {
  .hero {
    padding: 0;
  }
}
.hero__container {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .hero__container {
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-evenly;
  }
}
.hero__song {
  width: 100%;
  border-radius: 0.75rem;
  max-height: 15rem;
}
@media (min-width: 768px) {
  .hero__song {
    height: 10rem;
  }
}
.hero__song-container {
  width: 100%;
  align-self: center;
}
@media (min-width: 768px) {
  .hero__song-container {
    width: 75%;
    align-self: flex-start;
  }
}
@media (min-width: 1280px) {
  .hero__song-container {
    width: 33%;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .hero {
    min-height: 78vh;
  }
}
.hero__text__container {
  color: white;
}
@media (min-width: 1280px) {
  .hero__text__container {
    margin: 0;
  }
}
.hero__text__container p {
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero__text__container p {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}
@media (min-width: 768px) {
  .hero__text__container h2 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

@media (min-width: 1280px) {
  .break-default {
    display: none;
  }
}

.break-desktop {
  display: none;
}
@media (min-width: 1280px) {
  .break-desktop {
    display: inline-block;
  }
}

.stings {
  display: block;
}

.show {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
}
.show-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  padding: 0 3rem;
}
.show-container__title {
  color: #323232;
  padding: 2rem;
}
@media (min-width: 1280px) {
  .show-container__title {
    padding: 3rem;
    margin-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .show-container {
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .show-container__shows {
    padding: 3rem;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .show {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .show:first-of-type .show-info__label {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }
  .show:not(:first-of-type) .show-info__label {
    display: none;
  }
  .show:not(:first-of-type) .show-info__detail {
    margin-top: 1rem;
  }
}
.show:hover {
  background: #FAFAFA;
}
.show--active {
  background: black;
}
@media (min-width: 768px) {
  .show-info {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
.show-info__label {
  color: #AFAFAF;
  font-size: 0.77rem;
}
.show-info__detail--date {
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .show button {
    align-self: center;
    margin-top: 1rem;
    flex: 1 1 25%;
  }
}/*# sourceMappingURL=shows.css.map */